/* **GENERAL & HEADING STYLES** */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #2B2733;
  font-family: 'Montserrat', sans-serif;
}

.heading {
  background-color: #46424D;
  color: #FFF;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  padding: 1em;
}

main {
  height: 100vh;
  display: flex;
}

.section-title {
  width: 90%;
  max-width: 1000px;
  color: #CBC9CF;
  font-weight: 300;
  font-size: 18px;
  text-align: left;
  margin: 0 auto;
  padding-top: 1.75em;
  padding-bottom: 1em;
}

/* NEW ACTIVITY SECTION */
form {
  height: 20em;
  display: flex;
  flex-direction: column;
}

input {
  background-color: #46424D;
  color: #CBC9CF;
  font-weight: 300;
  margin-bottom: 0px;
  border: none;
  border-bottom: .1em solid #CBC9CF;
}

label {
  color: #FFF;
  font-weight: 400;
  font-size: 16px;
  margin: 3em 0;
}

.new-activity {
  height: 677px;
  width: 66%;
  display: flex;
  flex-direction: column;
}

.activity-form {
  display: flex;
  flex-direction: column;
}

.user-input-card {
  height: 90%;
  width: 90%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  background-color: #46424D;
  margin: 0 auto;
  border-radius: 5px;
  padding: 2em 6em;
  box-shadow: 10px 10px 10px #26222D;
}

.time-boxes {
  display: flex;
  flex-direction: row;
}

.minutes,
.seconds {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.minutes {
  margin-right: 35px;
}
.seconds {
  margin-left: 35px;
}

.activity-selection {
  display: flex;
  justify-content: space-between;
  margin-bottom: -30px;
}

/* HIDE RADIO */
input[type="radio"] {
  position: fixed;
  opacity: 0;
}

/* CHECKED STYLES */
input[value="study"]:checked + label {
  color: #B3FD78;
  border-color: #B3FD78;
}

input[value="meditate"]:checked + label {
  color: #C278FD;
  border-color: #C278FD;
}

input[value="exercise"]:checked + label {
  color: #FD8078;
  border-color: #FD8078;
}

.activity-selection > label {
  height: 4.5em;
  width: 10vw;
  max-width: 25%;
  min-width: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color:rgba(0, 0, 0, 0);
  text-align: center;
  margin-top: -2em;
  border-radius: 4px;
  border: 2px solid #CBC9CF;
  z-index: 3;
}

.icon-styling {
  display: flex;
  height: 2em;
  width: 100%;
  justify-content: center;
}

.icon {
  height: 2em;
  width: 2em;
  transform: scale(.75);
  display: block;
  align-self: center;
  position: absolute;
  margin: 0 auto;
  z-index: 0;
  pointer-events: none;
}

.activity-button {
  align-self: flex-end;
  background-color: #FFF;
  color: #2B2733;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin-top: 1em;
  border: none;
  border-radius: 2px;
  padding: 7px 22px;
}

/* **PAST ACTIVITY SECTION** */
.past-activities {
  height: 100%;
  width: 33%;
  border-left: solid #46424D;
  overflow: hidden;
}

.past-activities > aside {
  color: #CBC9CF;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  margin: 40px 0;
}

.past-activities > aside > p {
  margin-bottom: 12px;
}


.past-activity-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

.past-activity-card {
  height: 90px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #46424D;
  border-radius: 5px;
  margin-bottom: 1.5em;
  padding: 10px;
  box-shadow: 10px 10px 10px #26222D;
}

.past-activity-title {
  color: #FFF;
  font-weight: 400;
}

.past-activity-time {
  color: #FFF;
  font-weight: 300;
}

.past-activity-goal {
  color: #FFF;
  font-weight: 300;
  font-size: 13px;
  margin-top: 10px;
}

.past-activity-highlight {
  width: 5px;
  height: 30px;
  border-radius: 20px;
}

.study-highlight {
  background-color: #B3FD78;
}

.meditate-highlight {
  background-color: #C278FD;
}

.exercise-highlight {
  background-color: #FD8078;
}

/* CURRENT ACTIVITY */
.current-activity {
  display: flex;
  flex-direction: column;
}

.current-activity > button {
  height: 200px;
  width: 200px;
  align-self: center;
  background-color: #46424D;
  color: #FFF;
  font-size: 24px;
  font-weight: 300;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 50%;
}

.studyColor {
  border: 2px solid #B3FD78;
}

.meditateColor{
  border: 2px solid #C278FD;
}

.exerciseColor {
  border: 2px solid #FD8078;
}

.current-activity > p {
  font-size: 18px;
  padding-bottom: 0;
}

.timer {
  font-size: 5em;
  font-weight: bold;
  padding: 0;
  padding-top: 0;
}

.log-activity {
  display: flex;
  width: 100%;
}

.log-activity > button {
  margin: 0 auto;
  width: 200px;
}

.create-activity-button-container {
  width: 100%;
  display: flex;
}

.create-activity-button-container > button{
  width: 300px;
  margin: 0 auto;
  margin-top: 50px;
}

/* **ERROR STYLES** */
.error-message-style {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #EFB7EC;
  font-size: 12px;
  margin-top: 3px;
}

.error-icon {
  height: 2em;
  width: 2em;
  transform: scale(.55);
}

/* **UTILITY CLASSES** */
.hover:hover,
button:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

.invisible {
  opacity: 0;
}

/* **RULE ORDER** */
/*
Size
Display
Flex rules
Color
Font
Text
Margin
Border
Padding
Other
*/
