/* **LAYOUT STYLES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #2B2733;
  font-family: 'Montserrat', sans-serif;
}

.heading {
  background-color: #46424D;
  text-align: center;
  font-weight: 400;
  color: #FFF;
  font-size: 15px;
  padding: 1em;
}

main {
  display: flex;
}

.new-activity {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 66%;
}

.past-activities {
  border-left: solid #46424D;
  height: 100%;
  width: 33%;
}

.past-activities > aside {
  font-weight: 400;
  font-size: 14px;
  color: #CBC9CF;
  text-align: center;
  margin: 40px 0;
}

.past-activities > aside > p {
  margin-bottom: 12px;
}

.user-input {
  background-color: #46424D;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 2em 6em;
  height: 100%;
  width: 80%;
  box-shadow: 10px 10px 10px #26222D;
}

.activity {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.activity > li > button {
  border: 2px solid #CBC9CF;
  border-radius: 4px;
  background-color: #46424D;
  color: white;
  height: 4.5em;
  width: 10em;
}

button:hover {
  cursor: pointer;
}

img {
  display: block;
  position: relative;
  margin: 0 auto;
  transform: scale(.75);
  height: 2em;
  width: 2em;
}

form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  height: 25em;
}

input {
  background-color: #46424D;
  color: #CBC9CF;
  font-weight: 300;
  border: none;
  border-bottom: .1em solid #CBC9CF;
  /* align-self: flex-end; */
}

.time-boxes {
  display: flex;
  flex-direction: row;
  border: .5px solid red;
  /* flex-basis: fit-content; */
  max-width: 100%;
  /* width: 20%; */
  justify-content: space-between;
}


.minutes,
.seconds {
  /* border: 1px solid green; */
  width: 20%;
}

/* .seconds > input{
  align-self: end;
  margin-right: 58px;
  grid-row-end: auto;
  justify-content: flex-end;
} */

/* **BUTTONS** */
.start-activity {
  background-color: #FFF;
  border: none;
  border-radius: 2px;
  align-self: flex-end;
  color: #2B2733;
  font-size: 12px;
  padding: 4px 18px;
}

/* **TEXT STYLES** */
label {
  font-weight: 400;
  font-size: 15px;
  color: #FFF;
  margin: 18px 0;
}

/* section title */
h2 {
  font-weight: 300;
  color: #CBC9CF;
  font-size: 18px;
}

h4 {

}

/* **HIDDEN** */
.hidden {
  display: none;
}

/* **FONTS** */
/* font-family: 'Montserrat', sans-serif; */
/* 300 weight and 400 weight */

/* **COLORS** */
/*
Main background: #2B2733
Text on main background: #CBC9CF
Header, cards: #46424D
Card shadow: #26222D
Text on header and cards: #FFF
Study: #B3FD78
Meditate: #C278FD
Exercise: #FD8078
Error: #EFB7EC
 */
